@font-face {
    font-family: 'adobedevanagari';
    src: url('../tipografia/AdobeDevanagari-Regular.woff2') format('woff2'),
         url('../tipografia/AdobeDevanagari-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}