@charset "UTF-8";
.centrado {
  margin: auto;
  width: 80%;
  max-width: 760px;
}

.clear {
  clear: both;
}

.grande {
  display: block;
}

.tablet {
  display: none;
}

nav {
  width: 100%;
  background-color: #000000;
}

nav ul {
  margin: 0px;
  padding: 0%;
  list-style-type: none;
}

nav ul li a {
  font-family: "bootleregular";
  text-decoration: none;
  display: block;
  color: #fff4c5;
  font-size: 33px;
  float: left;
  text-align: center;
  width: 13%;
  margin-top: 30px;
  padding-left: 2%;
}

nav ul li img {
  display: block;
  width: 40%;
  float: left;
  margin-top: 40px;
  margin-left: 30px;
}

.movil {
  display: none;
}

header {
  background-color: black;
}

@media screen and (max-width: 800px) {
  .grande {
    display: none;
  }
  .tablet {
    display: block;
  }
  .movil {
    display: none;
  }
  nav ul li img {
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  nav ul li a {
    font-size: 25px;
    float: left;
    text-align: center;
    width: 15% !important;
    margin-top: 30px;
    padding-left: 5%;
  }
}
@media screen and (max-width: 650px) {
  .tablet {
    display: block;
  }
  .movil {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .tablet {
    display: none;
  }
  .grande {
    display: none;
  }
  .movil {
    display: block;
    background-color: #000000;
    position: fixed;
    z-index: 5000;
  }
  .movil #logo-movil {
    width: 40%;
    margin-left: 3%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #abrir {
    color: #fff4c5;
    font-size: 70px;
    position: fixed;
    right: 12%;
    top: 4%;
    display: block;
  }
  nav {
    width: 0%;
    height: 100%;
    background-color: black;
    margin-top: 0px;
    position: fixed;
    right: 0%;
    top: 0%;
    overflow: hidden;
    transition: all ease 0.5s;
  }
  nav ul {
    margin: 0px;
    padding: 0%;
    list-style-type: none;
  }
  nav ul li a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff4c5;
    font-size: 26px;
    height: 80px;
    line-height: 80px;
    margin-top: 0px;
    transition: all ease 0.3s;
    float: none;
    width: 30%;
  }
  nav ul li img {
    margin-left: 0px;
  }
  #cerrar {
    color: #fff4c5;
    font-size: 40px;
    position: absolute;
    top: 2%;
    right: 2%;
  }
}
.portada-imagenes {
  display: flex;
  justify-content: space-evenly;
}

.portada-imagenes-movil {
  display: none;
}

.portada {
  float: left;
  width: 10%;
}

.animacion {
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .portada-imagenes {
    display: none;
  }
  .portada-imagenes-movil {
    display: block;
  }
}
section {
  margin-top: -1px;
}

.banda {
  padding-top: 100px;
}

.banda h1 {
  font-size: 150px;
  margin-bottom: 0px;
}

.banda p {
  margin-top: 3px;
  font-weight: 500;
  text-align: justify;
}

.banda img {
  width: 18%;
  float: left;
  padding-right: 7%;
  margin-top: 5%;
  margin-bottom: 120px;
}

#siluetas {
  float: left;
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 150px;
  padding-top: 50px;
}

#siluetas-t {
  float: left;
  display: none;
  width: 100%;
  margin: auto;
  padding-bottom: 150px;
  padding-top: 50px;
}

.lenon {
  background-image: url(../img/lenon-silueta.png);
  width: 177px;
  height: 177px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
}

.lenon:hover {
  background-image: url(../img/lenon-sombra.png);
  width: 177px;
  height: 177px;
  float: left;
  margin-left: 20px;
}

.ringo {
  background-image: url(../img/ringo-silueta.png);
  width: 160px;
  height: 160px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
}

.ringo:hover {
  background-image: url(../img/ringo-sombra.png);
  width: 160px;
  height: 160px;
  float: left;
  margin-left: 20px;
}

.mccartney {
  background-image: url(../img/mccartney-silueta.png);
  width: 153px;
  height: 153px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
}

.mccartney:hover {
  background-image: url(../img/mccartney-sombra.png);
  width: 153px;
  height: 153px;
  float: left;
  margin-left: 20px;
}

.harrison {
  background-image: url(../img/harrison-silueta.png);
  width: 175px;
  height: 175px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
  margin-right: -300px;
}

.harrison:hover {
  background-image: url(../img/harrison-sombra.png);
  width: 175px;
  height: 175px;
  float: left;
  margin-left: 20px;
}

.lenon-t {
  background-image: url(../img/lenon-silueta-t.png);
  width: 98px;
  height: 98px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
}

.lenon-t:hover {
  background-image: url(../img/lenon-sombra-t.png);
  width: 98px;
  height: 98px;
  float: left;
  margin-left: 20px;
}

.ringo-t {
  background-image: url(../img/ringo-silueta-t.png);
  width: 89px;
  height: 89px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
}

.ringo-t:hover {
  background-image: url(../img/ringo-sombra-t.png);
  width: 89px;
  height: 89px;
  float: left;
  margin-left: 20px;
}

.mccartney-t {
  background-image: url(../img/mccartney-silueta-t.png);
  width: 85px;
  height: 85px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
}

.mccartney-t:hover {
  background-image: url(../img/mccartney-sombra-t.png);
  width: 85px;
  height: 85px;
  float: left;
  margin-left: 20px;
}

.harrison-t {
  background-image: url(../img/harrison-silueta-t.png);
  width: 98px;
  height: 98px;
  float: left;
  margin-left: 20px;
  transition: all ease 0.3s;
  margin-right: -300px;
}

.harrison-t:hover {
  background-image: url(../img/harrison-sombra-t.png);
  width: 98px;
  height: 98px;
  float: left;
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  #siluetas {
    display: none;
  }
  #siluetas-t {
    display: block;
    margin-left: 5%;
  }
}
@media screen and (max-width: 500px) {
  .color1 {
    position: relative;
  }
  .banda h1 {
    font-size: 30vw;
    width: 90%;
    margin: auto;
  }
  .banda p {
    padding: 2%;
    width: 90%;
    margin: auto;
  }
  #siluetas-t {
    display: none;
  }
  #siluetas {
    display: block;
    float: none;
    margin-bottom: 300px;
  }
  .lenon {
    margin-left: 0px;
  }
  .lenon:hover {
    margin-left: 0px;
  }
  .mccartney {
    margin-left: -340px;
    margin-top: 190px;
  }
  .mccartney:hover {
    margin-left: -340px;
    margin-top: 190px;
  }
  .harrison {
    margin-left: -160px;
    margin-top: 190px;
    width: 160px;
  }
  .harrison:hover {
    margin-left: -160px;
    margin-top: 190px;
    width: 160px;
  }
}
/*POP-UP DE BANDA*/
#fondo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.685);
  z-index: 10;
  display: none;
}

.pop-up {
  width: 50%;
  box-shadow: #000000 12px 20px 36px;
  border-radius: 30px;
  position: fixed;
  top: 80px;
  left: 25%;
  z-index: 10000;
}

#pop-up-harrison {
  background-color: black;
  box-shadow: 0px 0px 12px #c74039;
  color: white;
  padding: 3%;
  border-radius: 30px;
  display: none;
}

#pop-up-harrison img {
  width: 25%;
  display: block;
  float: left;
  border: #c74039 solid 4px;
  border-radius: 15px;
  margin-right: 5%;
}

#pop-up-harrison h4 {
  font-size: 27px;
  margin-bottom: 1px;
  margin-top: 2px;
  font-family: "chunkfiveroman";
  font-weight: 100;
}

#pop-up-lenon {
  background-color: black;
  box-shadow: 0px 0px 12px #c5d244;
  color: white;
  padding: 3%;
  border-radius: 30px;
  display: none;
}

#pop-up-lenon img {
  width: 25%;
  display: block;
  float: left;
  border: #c5d244 solid 4px;
  border-radius: 15px;
  margin-right: 5%;
}

#pop-up-lenon h4 {
  font-size: 27px;
  margin-bottom: 1px;
  margin-top: 2px;
  font-family: "chunkfiveroman";
  font-weight: 100;
}

#pop-up-ringo {
  background-color: black;
  box-shadow: 0px 0px 12px #d2238a;
  color: white;
  padding: 3%;
  border-radius: 30px;
  display: none;
}

#pop-up-ringo img {
  width: 25%;
  display: block;
  float: left;
  border: #d2238a solid 4px;
  border-radius: 15px;
  margin-right: 5%;
}

#pop-up-ringo h4 {
  font-size: 27px;
  margin-bottom: 1px;
  margin-top: 2px;
  font-family: "chunkfiveroman";
  font-weight: 100;
}

#pop-up-mccartney {
  background-color: black;
  box-shadow: 0px 0px 12px #1ea9c7;
  color: white;
  padding: 3%;
  border-radius: 30px;
  display: none;
}

#pop-up-mccartney img {
  width: 25%;
  display: block;
  float: left;
  border: #1ea9c7 solid 4px;
  border-radius: 15px;
  margin-right: 5%;
}

#pop-up-mccartney h4 {
  font-size: 27px;
  margin-bottom: 1px;
  margin-top: 2px;
  font-family: "chunkfiveroman";
  font-weight: 100;
}

/* POP-UP DE DISCOGRAFIA*/
.Pop-up2 {
  width: 70%;
  box-shadow: #000000 12px 20px 36px;
  border-radius: 30px;
  z-index: 1000;
  color: #000000;
  position: fixed !important;
  top: 7%;
  right: 15%;
  display: none;
}

#disco1,
#disco2,
#disco3,
#disco4 {
  background-color: #fff4c5;
  box-shadow: 0px 0px 12px white;
  color: black;
  padding: 3% !important;
  border-radius: 30px;
  position: relative;
}

.Pop-up2 .titu-pop-up {
  width: 70%;
  float: left;
  margin-bottom: 25px;
  padding-top: 20px;
}

.Pop-up2 img {
  width: 25% !important;
  display: block;
  float: left;
}

.Pop-up2 .disco-img {
  width: 20% !important;
  display: block;
  float: left;
  margin-right: 5%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 6px black;
}

#disco1 h3,
#disco2 h3,
#disco3 h3,
#disco4 h3 {
  font-size: 50px !important;
  margin-bottom: 1px !important;
  margin-top: 2px !important;
  font-family: "bootleregular";
  font-weight: 100 !important;
  padding-left: 4% !important;
}

#disco1 h3 span,
#disco2 h3 span,
#disco3 h3 span #disco4 h3 span {
  font-size: 88px;
}

#disco1 h5,
#disco2 h5,
#disco3 h5,
#disco4 h5 {
  font-family: "adobedevanagari";
  font-size: 35px !important;
  padding-left: 8.5% !important;
  font-weight: 400 !important;
  letter-spacing: 3px !important;
  margin-top: 0px !important;
}

.canciones {
  width: 100%;
  float: left;
}

.canciones p {
  font-family: "Segoe UI";
  float: left;
  line-height: 5px;
  width: 70%;
  font-weight: 500;
}

.canciones img {
  width: 35px !important;
  padding-left: 5px;
  padding-top: 4px;
}

.grupo1 {
  width: 50%;
  float: left;
}

.grupo2 {
  width: 50%;
  float: left;
}

/* FIN DE POP-UP DE DISCOGRAFIA*/
@media screen and (max-width: 800px) {
  #pop-up-harrison h4 {
    font-size: 22px;
  }
  #pop-up-lenon h4 {
    font-size: 22px;
  }
  #pop-up-ringo h4 {
    font-size: 22px;
  }
  #pop-up-mccartney h4 {
    font-size: 22px;
  }
}
@media screen and (max-width: 500px) {
  .pop-up {
    position: absolute;
    top: 45%;
  }
  #pop-up-harrison img {
    width: 100%;
    margin-bottom: 5px;
  }
  #pop-up-harrison h4 {
    font-size: 27px;
  }
  #pop-up-lenon img {
    width: 100%;
    margin-bottom: 5px;
  }
  #pop-up-lenon h4 {
    font-size: 27px;
  }
  #pop-up-ringo img {
    width: 100%;
    margin-bottom: 5px;
  }
  #pop-up-ringo h4 {
    font-size: 27px;
  }
  #pop-up-mccartney img {
    width: 100%;
    margin-bottom: 5px;
  }
  #pop-up-mccartney h4 {
    font-size: 27px;
  }
}
.discografia {
  position: relative;
  height: 600px;
}

.discografia h1 {
  text-align: left;
  font-size: 170px;
  margin-top: 24px;
  position: absolute;
  top: -69px;
  left: 10px;
  color: #fff4c5;
}

@media screen and (max-width: 800px) {
  .discografia h1 {
    font-size: 100px;
    top: -50px;
    left: 10px;
  }
}
@media screen and (max-width: 650px) {
  .discografia h1 {
    font-size: 95px;
    top: -49px;
    left: 10px;
  }
}
@media screen and (max-width: 500px) {
  .discografia h1 {
    font-size: 17vw;
    top: -42px;
    left: 10px;
  }
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 200px;
  width: 100%;
}

.fade img {
  box-shadow: 4px 5px 6px black;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 36px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.prev {
  left: 0%;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 55px;
  width: 65%;
  right: -50px;
  text-align: center;
  margin-top: 150px;
  font-family: "chunkfiveroman";
}

.text2 {
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 130px;
  width: 55%;
  right: -75px;
  margin-top: 150px;
  font-family: "Segoe UI";
  text-align: justify;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* FIN DE CARRUSEL DE DISCOGRAFIA */
/*  CARRUSEL DE DISCOGRAFIA PEQUEÑO*/
#carrusel-peque {
  display: none !important;
}

.subtituloh2 {
  margin-top: 290px;
  color: white;
  display: inline;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "chunkfiveroman";
}

.carousel .carousel-item {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Clases de Materialize*/
/*
.materialboxed:hover:not(.active) {
   opacity: 1 !important;
   transform: scale(1.05);
 } */
div.materialbox-caption {
  bottom: 1.5rem;
  left: 12rem;
  width: 50%;
  text-align: left;
  padding: 0% 5%;
  height: 50px;
  z-index: 1000;
  display: inline-block;
  background-color: pink;
  box-shadow: 5px 5px white;
  font-size: 21px;
  font-family: "Dancing Script", cursive;
}

@media screen and (max-width: 800px) {
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
  #carrusel-peque {
    display: block !important;
    padding-top: 100px;
  }
  #carrusel {
    display: none;
  }
}
.galeria {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.galeria h1 {
  margin-top: 0px;
  color: #c74039;
  font-size: 125px;
  margin-bottom: 0px;
}

#caja-imagenes {
  float: left;
  position: relative;
  padding-top: 80px;
}

#caja-imagenes .img1 {
  width: 28.3%;
  display: block;
  float: left;
  padding: 0.5%;
}

#caja-imagenes .img2 {
  width: 24%;
  display: block;
  float: left;
  padding: 0.5%;
}

#caja-imagenes .img3 {
  width: 24%;
  display: block;
  float: left;
  padding: 0.5%;
}

#caja-imagenes .img4 {
  width: 23.5%;
  display: block;
  float: left;
  padding: 0.5%;
}

#caja-imagenes .img5 {
  width: 24%;
  position: absolute;
  left: 28.3%;
  top: 57.5%;
  display: block;
  z-index: 2;
  float: left;
  padding: 0.5%;
}

#caja-imagenes .img6 {
  width: 24%;
  position: absolute;
  left: 52.3%;
  top: 64.5%;
  z-index: 5;
  display: block;
  float: left;
  padding: 0.5%;
}

@media screen and (max-width: 800px) {
  #caja-imagenes .img5 {
    left: 28.3%;
    top: 60%;
    display: block;
    padding: 0.5%;
  }
  #caja-imagenes .img6 {
    left: 52.3%;
    top: 67%;
    display: block;
    padding: 0.5%;
  }
}
@media screen and (max-width: 650px) {
  #caja-imagenes .img5 {
    left: 28.3%;
    top: 62%;
  }
  #caja-imagenes .img6 {
    left: 52.3%;
    top: 69%;
  }
}
@media screen and (max-width: 500px) {
  .galeria {
    width: 90%;
    margin: auto;
  }
  .galeria h1 {
    font-size: 25vw;
  }
  #caja-imagenes .img5 {
    left: 28.3%;
    top: 64.5%;
  }
  #caja-imagenes .img6 {
    left: 52.3%;
    top: 71%;
  }
}
footer {
  background-color: black;
  margin: 0px;
  padding-top: 50px;
}

footer h3 a {
  font-size: 40px;
  text-align: center;
  color: #fff4c5;
  text-decoration: none;
  margin-top: 0%;
  margin-left: 2%;
  font-family: "bahnschrift";
  letter-spacing: 15px;
  font-weight: 100;
}

footer ul {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}

footer ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  float: left;
  padding-bottom: 80px;
  width: 20%;
}

footer p {
  color: white;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  footer h3 a {
    font-size: 28px;
    letter-spacing: 10px;
    margin-left: 8%;
  }
}
@media screen and (max-width: 500px) {
  .centrado {
    width: 100%;
  }
  footer h3 a {
    font-size: 2vw;
    margin-left: 10%;
  }
  footer p {
    font-size: 10px;
  }
}
* {
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  margin: 0px;
}

h1 {
  font-family: "bootleregular";
  margin-top: 0px;
  font-weight: 100;
}

p {
  font-family: "Segoe UI";
}

img {
  width: 100%;
  display: block;
}

.color1 {
  background-color: #fff4c5;
}

.color2 {
  background-color: #1ea9c7;
}/*# sourceMappingURL=estilos.css.map */